<div class="tmpl-hh-footer">
  <p class="tmpl-hh-footer__title">Условия:</p>
  <div class="tmpl-hh-footer__wrapper">
    <div class="tmpl-hh-footer__item tmpl-hh-footer__item_easel tmpl-hh-footer__item_mobile-order-0"></div>
    <div class="tmpl-hh-footer__item tmpl-hh-footer__item_mobile-order-0">
      <p>Официальное<br/>трудоустройство</p>
    </div>
    <div class="tmpl-hh-footer__item tmpl-hh-footer__item_mobile-big tmpl-hh-footer__item_mobile-order-0">
      <div>
        <span>График работы 5/2</span>
        <span>пн-чт с 9:00 до 18:15</span>
        <span>пт с 9:00 до 16:00</span>
      </div>
    </div>
    <div class="tmpl-hh-footer__item tmpl-hh-footer__item_mobile-order-0">
      <p>Полностью белая<br/>заработная плата</p>
    </div>
    <div class="tmpl-hh-footer__item tmpl-hh-footer__item_small tmpl-hh-footer__item_mobile-order-2">
      <p>ДМС после<br/>года работы</p>
    </div>
    <div class="tmpl-hh-footer__item tmpl-hh-footer__item_big tmpl-hh-footer__item_paints tmpl-hh-footer__item_mobile-order-1"></div>
    <div class="tmpl-hh-footer__item tmpl-hh-footer__item_brush tmpl-hh-footer__item_mobile-order-4"></div>
    <div class="tmpl-hh-footer__item tmpl-hh-footer__item_big tmpl-hh-footer__item_mobile-order-3">
      <p>Интересные задачи,<br/>дружный коллектив</p>
    </div>
    <div class="tmpl-hh-footer__item tmpl-hh-footer__item_small tmpl-hh-footer__item_mobile-order-4">
      <p>Стабильное<br/>предприятие</p>
    </div>
  </div>
</div>
